html
  head
    title= title
  body
    h2= message
    a(href='https://bigblue.aha.io') Login to Bigblue Aha!
    p
    a(href='https://bigblueaha.w3ibm.mybluemix.net') Go back to BigblueAha user on-boarding portal
